*.code-workspace
.vscode/settings.json
node_modules/*
*.config    
assets/upload/*
assets/resized/*
assets/obfucate/*
assets/fonts/*
.htaccess.txt
assets/js/.htaccess
assets/js/admin_bak04062k24.js
assets/js/ajax.js
assets/js/bs-init.js
assets/js/dashboard_bak04062k24.js
assets/js/dashboard_bak07072k23.js
assets/js/dashboard_bak11082k23.js
assets/js/login.js
assets/js/scan_bak05162k24.js
assets/js/theme.js
assets/js/util_bak04062k24.js
assets/obsfucate/admin.js
assets/obsfucate/ajax.js
assets/obsfucate/bs-init.js
assets/obsfucate/dashboard.js
assets/obsfucate/login.js
assets/obsfucate/theme.js
assets/obsfucate/util.js


assets/js/SQL SNIPPETS.sql
ORIG_FILES_BAK_MAY_14_2K25/admin.html
ORIG_FILES_BAK_MAY_14_2K25/admin.js
ORIG_FILES_BAK_MAY_14_2K25/dashboard.html
ORIG_FILES_BAK_MAY_14_2K25/dashboard.js
ORIG_FILES_BAK_MAY_14_2K25/index.html
ORIG_FILES_BAK_MAY_14_2K25/index2.html
ORIG_FILES_BAK_MAY_14_2K25/login.js
ORIG_FILES_BAK_MAY_14_2K25/util.js
assets/js/dashboard_bak_05132025.js
